
<nav>
    <div class="top-bar clearfix">
        <div class="top-bar-left">
            <ul class="menu">
                <li class="menu-text">Project Euler Code Bank</li>
                <li class="menu-text">Exercises</li>
            </ul>
        </div>
        <div class="top-bar-right">
            <ul class="menu">
                <li class="menu-text">
                    Created by <a href="https://github.com/nbsteuv/ASP.NET-CORE-EULER" target="_blank">Nick Steuver</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
