body {
    width: 100%;
    margin: 0 auto;
    background-color: #eaf9ff;
}

/* Nav bar */

nav {
    width: 100%;
    background-color: #333333;
}

.top-bar-left {
    float: left;
}

.top-bar-right {
    float: right;
}

ul.menu {
    padding: 0;
    margin: 0;
}

li.menu-text {
    list-style-type: none;
    margin: 0;
    padding: 15px;
    color: #ffffff;
    display: inline-block;
    font-size: 20px;
    font-weight: bold;
}

li.menu-text>a:active {
    color: #1585C0;
}

li.menu-text>a:visited {
    color: #1585C0;
}


/* Tool classes */

.clearfix:before, .clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}