@model LoginViewModel

<h1>Log In</h1>

@if (User.Identity.IsAuthenticated)
{
    <p>Hello, @User.Identity.Name. You are already logged in.</p>

    <form method="post" asp-controller="Account" asp-action="Logout" asp-antiforgery="true">
        <input type="submit" value="Logout" />
    </form>
}
else
{
    <a asp-controller="Account" asp-action="Register">Create An Account</a>
    <form method="post" asp-antiforgery="true">

        <div asp-validation-summary="ModelOnly"></div>
        
        <div>
            <label asp-for="Username"></label>
            <input asp-for="Username" />
            <span asp-validation-for="Username"></span>
        </div>

        <div>
            <label asp-for="Password"></label>
            <input asp-for="Password" />
            <span asp-validation-for="Password"></span>
        </div>

        <div>
            <label asp-for="RememberMe"></label>
            <input asp-for="RememberMe" />
            <span asp-validation-for="RememberMe"></span>
        </div>

        <input type="submit" value="Login" />

    </form>
}